
/* ======================= DEFAULTS ===========================*/
*{
    box-sizing: border-box;
}
html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6fafe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.td-none{
    text-decoration: none;
    color: inherit;
}
.hide{
    display: none;
}
.center{
    text-align: center;
}
.logout-link{
    color: #a73b1a;
}

/* ======================= COMPONENTS ===========================*/
header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom:  1px solid #dfe2e4;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
header .menu-icon{
    font-size: 32px;
    display: none; 
}
header .nav-overlay{
    display: none;
}
header nav{
    display: flex; 
    align-items: center;
    height: inherit;
}
header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header .navmenu{
    display: flex;
}
header .navmenu .navitem a{
    display: block;
    text-decoration: none;
    padding: 30px 16px;
    color: #383838;
}

header .navmenu .navitem a:hover{
   color: #6babf3;
}
header .navmenu .navitem .navicon{
    transform: translateY(4px);
    font-size: 16px;
}
header .navmenu .navitem{
    position: relative;
}
header .navmenu .navitem .dropdown{
    width: 190px;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: -1px -12px 28px 7px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px -12px 28px 7px rgba(0, 0, 0, 0.11);
    box-shadow: -1px -12px 28px 7px rgba(0, 0, 0, 0.11);;
    opacity: 0;
    z-index: -5;
    transform: translateY(35px);
}
header .navmenu .navitem:hover .dropdown{
    opacity: 1;
    z-index: 5;
    transform: translateY(0);
    transition: all 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);

}
header .navmenu .navitem .dropdown::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 15%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;   
}
header .navmenu .navitem .dropdown a{
    padding: 16px; 
}


.logo-wrapper{
    font-size: 1.4rem;
}
.logo-wrapper span{
    background-color: #3e86ac;
    padding: 0 5px;
    line-height: 0;
    border-radius: 2px;
    color: white;
}
/* ============ meaia queries of header ============= */
@media only screen and (max-width: 1024px){

    header{
        padding: 0 10px;
   
    } 
}

@media only screen and (max-width: 800px){
  
    header .menu-icon{
        display: block;
    }
    header .nav-overlay.open{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
    }
    header .logo-wrapper{
        width: 100%;
        text-align: center;
    }
    header nav{
       flex-grow: 1;  
    }
    header .search-item, header .search-item input{
        width: 100%;
    }
    header .navmenu{
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        height: 100%;
        width: 250px;
        background-color: #fff;
        overflow-y: scroll;
        z-index: 99999;
        padding: 50px 0;
        transform: translateX(-250px);
        transition: all 0,25s ease-in-out;
    }
    header .navmenu.open{
        transform: translateX(0px);
        transition: all 0.25s ease-in-out;
    }
    header .navmenu .navitem a{
       padding: 16px;
    }
    header .navmenu .navitem{
        /* =============== */
        position: relative;
    }
    header .navmenu .navitem .dropdown{
        width: 100%;
        position: static;  
        border-radius: 0px;
        box-shadow: none;
        opacity: 1;
        max-height: 0px;
        overflow: hidden;
        z-index: 1;
        transform: translateY(0px);
        transition: max-height 0.25s ease-in-out;
    }
    header .navmenu .navitem.active .dropdown{
        max-height: 300px;
        transition: max-height 0.25s ease-in-out;
    }
    header .navmenu .navitem .dropdown a{
    padding-left: 32px; 
    }  
}

/* ========parit dashboard admin Layout======== */
.page-wrapper{
    display: flex;
    min-height: calc(100% - 80px);
}

.page-wrapper .sidebar{
    flex-basis: 18%;
    min-height: 100%;
    min-width: 260px;
    background-color: #0a3654;

}
.page-wrapper .sidebar .sidebar-author-mobile{
    display: none;
}
.page-wrapper .sidebar .list-menu{
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    overflow: hidden;
}
.page-wrapper .sidebar .list-menu li a{
    text-decoration: none;
    color: #8aa3a9;
    display: block;
    padding: 15px 30px;
    position: relative;
}
.page-wrapper .sidebar .list-menu li a:hover{
    color: white;
}
.page-wrapper .sidebar .list-menu li a .menu-icon{
    margin-right: 12px;
    
}
.page-wrapper .sidebar .list-menu li a .chevron-forward{
   position: absolute;
   right: 20px;
}

.page-wrapper .page-content{
    flex-basis: 82%;
    overflow-x: hidden;
}
@media only screen and (max-width: 800px){
    .page-wrapper{
        display: block;
    }
    .page-wrapper .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 240px;
        z-index: 99999;
        overflow: hidden;
        transform: translateX(-280px);
        transition: transform 0.25s ease-in-out;
    }
    .page-wrapper .sidebar.open{
        transform: translateX(0px);
        transition: transform 0.25s ease-in-out;
    }
    .page-wrapper .sidebar .sidebar-author-mobile{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 76px;
    }
    .page-wrapper .sidebar .sidebar-author-mobile .avatar{
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    .page-wrapper .sidebar .sidebar-author-mobile .author-name{
        color: #8aa3a9;
        margin: 8px auto;
    }


}

/* ======================= PAGES ===========================*/